---
- hosts: appserver
  name: Deploying application into EKS cluster through Helm
  gather_facts: yes
  become: true

  vars:
    eks_cluster_name: "chinna"
    eks_region: "us-east-1"
    helm_release_name: "mahesh"
    helm_chart_path: "./helm"
    kubeconfig_path: "~/.kube/config"

  tasks:

    - name: Ensure AWS CLI can fetch EKS kubeconfig
      command: >
        aws eks update-kubeconfig
        --name {{ eks_cluster_name }}
        --region {{ eks_region }}
        --kubeconfig {{ kubeconfig_path }}
      register: kubeconfig_output

    - name: Show kubeconfig result
      debug:
        var: kubeconfig_output.stdout

    - name: Verify kubectl connection to EKS
      command: kubectl --kubeconfig {{ kubeconfig_path }} get nodes
      register: nodes_output

    - name: Show node list
      debug:
        var: nodes_output.stdout

    - name: copy k8s deployment files to app server
      copy:
        src: "{{ playbook_dir }}/Ansible_helm_playbook.yaml"
        dest: /home/ec2-user/Ansible_helm_playbook.yaml
        mode: '0644'

    - name: Deploy or Upgrade Helm release
      command: >
        helm upgrade --install {{ helm_release_name }}
        {{ helm_chart_path }}
        --kubeconfig {{ kubeconfig_path }}
      register: helm_output

    - name: Show Helm output
      debug:
        var: helm_output.stdout
