---
- hosts: appserver
  name: Deploying application into EKS cluster through Helm
  gather_facts: yes
  become: true

  vars:
    eks_cluster_name: "chinna"
    eks_region: "us-east-1"
    helm_release_name: "mahesh"
    helm_chart_path: "/home/ec2-user/helm"
    kubeconfig_path: "/home/ec2-user/.kube/config"

  tasks:

    - name: Copy Helm chart directory
      copy:
        src: "{{ playbook_dir }}/helm"
        dest: /home/ec2-user/
        mode: '0755'

    - name: Ensure AWS CLI can fetch EKS kubeconfig
      command: >
        aws eks update-kubeconfig
        --name {{ eks_cluster_name }}
        --region {{ eks_region }}
        --kubeconfig {{ kubeconfig_path }}
      environment:
        AWS_ACCESS_KEY_ID: "{{ aws_access_key }}"
        AWS_SECRET_ACCESS_KEY: "{{ aws_secret_key }}"
        AWS_DEFAULT_REGION: "{{ eks_region }}"
      register: kubeconfig_output

    - debug:
        var: kubeconfig_output.stdout

    - name: Verify kubectl connection to EKS
      command: kubectl --kubeconfig {{ kubeconfig_path }} get nodes
      register: nodes_output

    - debug:
        var: nodes_output.stdout

    - name: Deploy or Upgrade Helm release
      command: >
        helm upgrade --install {{ helm_release_name }}
        {{ helm_chart_path }}
        --kubeconfig {{ kubeconfig_path }}
      register: helm_output

    - debug:
        var: helm_output.stdout
